///
/// TYPOGRAPHY
///

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&display=swap');

html {
	font-size: 1em;
}

body {
	font-family: var(--font-stack);
	font-weight: 400;
	line-height: 1.45;

	// adjust font size
	font-size: 100%;
	-webkit-text-size-adjust: 100%;

	// smoothing
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.414rem 0 0.5rem;
	font-weight: 600;
	line-height: 1.2;
}

h1,
.#{$prefix}h1 {
	margin-top: 0;
	font-size: 1.602rem;
}

h2,
.#{$prefix}h2 {
	font-size: 1.424rem;
}

h3,
.#{$prefix}h3 {
	font-size: 1.266rem;
}

h4,
.#{$prefix}h4,
h5,
.#{$prefix}h5,
h6,
.#{$prefix}h6 {
	font-size: 1.125rem;
}

.#{$prefix}font-copy {
	font-size: 1rem;
	font-weight: normal;
}

small,
.#{$prefix}font-small {
	font-size: 0.889rem;
}
